@use "./variables" as *;
@use "./mixin" as *;
/*main de galeria*/

.galeria-grid {


    .imagenes {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .galeria {
        text-decoration: underline;
        text-align: center;
    }

    .videos {
        text-align: center;
    }

    .grid-mejoresmomentos {
        display: grid;
        align-items: center;
    }
}

/* diseño galeria*/

.galeria-grid img {
    @include fotos ;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}
.galeria-grid img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
}



.galeria-grid video {
    @include fotos 
}



.galeria-grid {
    @include resumido(
        "titulo titulo titulo"
        "img1 img2 img3"
        "img4 img5 img3"
        "img4 img6 img7"
        "img8 img9 img10"
        "img11 img12 img10"
        "titulo2 titulo2 titulo2"
        "video1 texto1 video2"
        "video3 texto1 video4",
        30% 30% 30%,
        200px 300px 300px 300px 300px 300px 40px 300px 300px
    );
    gap: 7px;
    align-items: center;
    justify-items: stretch;
    
}





.grid-fotos {
    grid-area: titulo;
    text-align: center;
    justify-items: center;
   
}

.grid-galeriaseleccion-1 {
    grid-area: img1;
    @include imagen ;
    
}

.grid-galeriaseleccion-2 {
    grid-area: img2;
    @include imagen ;
}

.grid-galeriaseleccion-3 {
    grid-area: img3;
    @include imagen ;
}

.grid-galeriaseleccion-4 {
    grid-area: img5;
    @include imagen ;
}

.grid-galeriaseleccion-5 {
    grid-area: img4;
    @include imagen ;
}

.grid-galeriaseleccion-6 {
    grid-area: img6;
    @include imagen ;
}

.grid-galeriaseleccion-7 {
    grid-area: img7;
    @include imagen ;
}

.grid-galeriaseleccion-8 {
    grid-area: img8;
   @include imagen ;
}

.grid-galeriaseleccion-9 {
    grid-area: img10;
    @include imagen ;
}

.grid-galeriaseleccion-10 {
    grid-area: img11;
    @include imagen ;
}

.grid-galeriaseleccion-11 {
    grid-area: img12;
    @include imagen ;
}

.grid-galeriaselccion-12 {
    grid-area: img9;
    @include imagen ;
}

.grid-mejoresmomentos {

    grid-area: texto1;
    text-align: center;
}

.galeria-1 {
    grid-area: titulo2;
    text-align: center;
   
}

.grid-video-1 {
    grid-area: video1;
    @include video;
}

.grid-video-2 {
    grid-area: video2;
    @include video ;
}

.grid-video-3 {
    grid-area: video3;
    @include video;
}

.grid-video-4 {
    grid-area: video4;
    @include video;

}




