@use "./variables" as*;
@use "./mixin" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family:"Poppins", sans-serif*/
body {
    font-family: "Poppins", sans-serifS;
}

/*header y footer*/
.navegador {
    background-color: $celeste;
    border-radius: 0 0 0 0.75rem 0.75rem;
    padding: 1rem;

    a {
        color: $negro;
        text-decoration: none;
        font-size: 1.5rem;
    }
}

/*footer*/
footer {
    background-color: $celeste;

    h2 {
        color: $negro;
        text-align: center;
    }

    .iconos-redes {
        text-align: center;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        height: 10px;
        margin: 15px;
    }

    section {
        text-align: center;
        border: 5px;
        padding: 10px;
    }

    h6 {
        font-size: 0.7rem;
        margin: 12px;
        color: $negro;
    }

}

/*todo dentro de main de index*/
.indexdiseño img {
    @include fotos ;
}

main {
    margin-block-start: 6rem;
    background-color: $grisclaro ;

    .tituloprincipal {
        text-align: center;
        font-family: initial;
    }

    .carrusel {
        margin: auto;
    }

    .la-escaloneta {
        text-align: center;
        margin: 20px;
    }

}
/*diseño index*/
.index img {
    @include fotos ;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}

.indexdiseño {
    @include resumido("titulo titulo titulo"
        "carrusel carrusel carrusel"
        "texto1 texto1 texto1"
        "img1 img2 img3", 30% 30% 30%, 200px 1fr 180px 350px);
    
    align-items: center;
    gap: 4px;
    border-radius: 3%;
}

.tituloprincipal {
    grid-area: titulo;
    text-align: center;
}

.carrusel {
    grid-area: carrusel;
}

.la-escaloneta {
    grid-area: texto1;
    text-align: center;
}

.entrada {
    grid-area: img2;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}

.entrada:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.messi2copaamericas {
    grid-area: img3;
    @extend .entrada
}

.messi2copaamericas:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.di-maria-finalissima {
    grid-area: img1;
    @extend .entrada
}

.di-maria-finalissima:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}