@use "./mixin" as *;

/*mediaQ*/
@media (max-width:480px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        width: 100%;
    }

    header ul {
        margin-left: 4px;
        margin-right: 4px;
        padding-left: 0rem;
    }

    /*index*/

    .entrada {
        @include fotos;
    }
     

    .indexdiseño {
        @include resumido ("titulo"
            "carrusel"
            "texto1"
            "img1"
            "img2"
            "img3",90%,50px 200px repeat(3,250px) 300px) ;       
        align-items: center;
    }

    .tituloprincipal {
        grid-area: titulo;
        text-align: center;
    }

    .carrusel {
        grid-area: carrusel;
    }

    .la-escaloneta {
        grid-area: texto1;
        text-align: center;
        border: 0;
        border-radius:3%;
    }

    .entrada{
        grid-area: img1;   
    }
    .di-maria-finalissima{
        grid-area: img2;
    }
    .messi2copaamerica{
        grid-area: img3;
    }

    /*estadisticas*/


    .contenedor-grid img {
        @include fotos;
    }

    .grid-titulo-1 {
        grid-area: titulo;
        text-align: center;
        text-decoration: underline;
        margin: 10px;
    }

    .grid-resumen-1 {
        grid-area: resumen;
        text-align: center;
        margin: 10px;
    }

    .contenedor-grid {
        @include resumido("estadisticas1"
            "resumen2"
            "estadisticas2",90%, 100px 450px 80px  );
        align-items: center;
    }

    .grid-estadisticas-1 {
        grid-area: estadisticas1;
        text-align: center;
        text-decoration: underline;
       
    }

    .grid-resumen-2 {
        grid-area: resumen2;
        text-align: center;
    }
    .grid-estadisticas-2 {
        grid-area: estadisticas2;
        text-align: center;
        text-decoration: underline;
    }

   




    /*galeria */



    .galeria-grid img, video {
         @include fotos;
    }

    .galeria-grid {
        @include resumido("titulo"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8"
            "img9"
            "img10"
            "img11"
            "titulo2"
            "texto1"
            "video1"
            "video2"
            "video3"
            "video4",90%, 60px repeat(2, 250px) repeat(2, 400px 250px)250px 250px 400px 250px 250px 40px 270px repeat(4, 200px));    
        align-items: center;
        justify-items: stretch;

    }

    .grid-fotos {
        grid-area: titulo;
    }

    .grid-galeriaseleccion-1 {
        grid-area: img1;
        border: 0;
    }

    .grid-galeriaseleccion-2 {
        grid-area: img2;
        border: 0;
    }

    .grid-galeriaseleccion-3 {
        grid-area: img3;
        border: 0;
    }

    .grid-galeriaseleccion-4 {
        grid-area: img4;
        border: 0;
    }

    .grid-galeriaseleccion-5 {
        grid-area: img5;
        border: 0;
    }

    .grid-galeriaseleccion-6 {
        grid-area: img6;
        border: 0;
    }

    .grid-galeriaseleccion-7 {
        grid-area: img7;
        border: 0;
    }

    .grid-galeriaseleccion-8 {
        grid-area: img8;
        border: 0;
    }

    .grid-galeriaseleccion-9 {
        grid-area: img9;
        border: 0;
    }

    .grid-galeriaseleccion-10 {
        grid-area: img10;
        border: 0;
    }

    .grid-galeriaseleccion-11 {
        grid-area: img11;
        border: 0;
    }

    .grid-galeriaseleccion-12 {
        grid-area: img12;
        border: 0;
    }

    .galeria-1 {
        grid-area: titulo2;
        text-align: center;
        text-decoration: underline;
    }

    .grid-mejoresmomentos {

        grid-area: texto1;
        text-align: center;
    }

    .grid-video-1 {
        grid-area: video1;
        @include fotos;
        border:0;
    }

    .grid-video-2 {
        grid-area: video2;
       @include fotos;
        border: 0;
    }

    .grid-video-3 {
        grid-area: video3;
        @include fotos;
        border: 0;
    }

    .grid-video-4 {
        @include fotos;
        grid-area: video4; 
        border: 0;
    }




    /*contacto*/

    .comunicate-grid {
        @include resumido("titulo"
            "mapa"
            "info"
            "info2"
            "info3"
            "info4"
            "info5"
            "info6"
            "info7"
            "info8"
            "info9"
            "info10"
            "titulo2"
            "nombre"
            "nombre2"
            "mail"
            "mail2"
            "duda"
            "duda2"
            "enviar"
            "invitacion"
            "gracias", 90%,60px 250px repeat(5, 40px 40px) 240px repeat(2, 30px 40px) 80px 80px 60px 100px 80px)
    }

    .contanto-1 {
        grid-area: titulo;
        text-align: center;
        background-color: #6e6e6e;
        margin: 10px;
    }

    .mapa-ezeiza {
        grid-area: mapa;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .info1 {
        grid-area: info;
    }

    .info2 {
        grid-area: info2;

    }

    .info3 {
        grid-area: info3;
    }

    .info4 {
        grid-area: info4;
    }

    .info5 {
        grid-area: info5;
    }

    .info6 {
        grid-area: info6;
    }

    .info7 {
        grid-area: info7;
    }

    .info8 {
        grid-area: info8;
    }

    .info9 {
        grid-area: info9;
    }

    .info10 {
        grid-area: info10;
    }

    .titulo2 {
        grid-area: titulo2;
        margin: 30px;

    }

    .nombre {
        grid-area: nombre;
    }

    .nombre2 {
        grid-area: nombre2;
    }

    .mail {
        grid-area: mail;
    }

    .mail2 {
        grid-area: mail2;
    }

    .duda {
        grid-area: duda;
    }

    .duda2 {
        grid-area: duda2;
    }

    .enviar {
        grid-area: enviar;
        font-size: 20px;
        padding: 4px 4px;

    }

    .invitacion {
        grid-area: invitacion;

    }

    .gracias {
        grid-area: gracias;

    }

    /*tienda*/

    .tienda {
        @include resumido("titulo"
            "remeras",90%,60px 1fr );
        text-align: center;
    }

    .titulo-tienda {
        grid-area: titulo;
        text-align: center;
        text-decoration: underline;
    }

    .card-group {
        grid-area: remeras;
        margin: 30px;
    }

    /*footer*/
    .iconos-redes img {
        width: 30px;
    }


}