@use "./mixin" as *;

/*main de tienda*/
.tienda {
    display: flex;
}

.titulo-tienda {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.card-group-2{
    display: flex;
}


/*diseño tienda*/
.merchandising-1 {
    grid-area: titulo;
    text-align: center;
}
.tienda{
    @include resumido(
       "titulo",90%,200px
    );
}


.titulo-tienda {
    grid-area: titulo;
    text-align: center;
}


